params {
  // inputbam = "../../../../../data/bio/giab/data/NA12878/NIST_NA12878_HG001_HiSeq_300x/RMNISTHS_30xdownsample.bam"
  inputbam = "../Test1-ready.bam"
  inputFastq = "../mock_data.fq"
}

// process {
//   executor = 'pbspro'
//   storage = '/srv/scratch/canpang/'
// }

//   withName: 'VGGIRAFFE' {
//     project = 'alignment'
//   }

//   withName: 'VGSTATS' {
//     project = 'vgstats'
//   }

//   /*withName: 'SAMTOOLS' {
//     module = 'samtools'
//   }

//   withName: 'MULTIQC' {
//     module = 'samtools'
//     module = 'multiqc'
//   }*/

// }
