params {
  inputbam = "../Test1-ready.bam"
  inputFastq = "../mock_data.fq"
}

process {
  executor = 'pbspro'
  //project = 'vgstats'
  storage = 'gdata/tx70+scratch/df13'

  withName: 'VGGIRAFFE' {
    project = 'alignment'
  }

  withName: 'VGSTATS' {
    project = 'vgstats'
  }

  /*withName: 'SAMTOOLS' {
    module = 'samtools'
  }

  withName: 'MULTIQC' {
    module = 'samtools'
    module = 'multiqc'
  }*/

}
